<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Your Chat</title>
</head>
<body>
    <h1>Edit Your Chat</h1>
    <form action="/chats/<%=User._id%>?_method=PUT" method="post">
        You: <b><%=User.from%></b><br><br>
        Your id: <%=User._id%><br><br>
        Receiver's Name: <b><%=User.to%></b><br><br>
        message: <textarea name="message" id=""><%=User.message%></textarea><br><br>
        <button>Send</button>
    </form>
</body>
</html>