<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Chats</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>All Chats</h1>
    <% for(let chat of allCht){%>
        <div class="chat">
            <p>From: <i><%=chat.from%></i>
            </p>
            <p>Received By: <i><%=chat.to%></i>
            </p>
            <div class="msg">
                <p>Message: <%=chat.message%></p>
                <form action="/chats/<%=chat._id%>/edit" method="get">
                    <button>Edit</button>
                </form><br>
                <form action="/chats/<%=chat._id%>?_method=DELETE" method="post">
                    <button class="delete">Delete</button>
                </form>
            </div>
            <p><%=chat.created_at.toString().split(" ")[4]%></p>
            <p><%=chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p>
            
        </div>
        <br>
        <%}%>
        <form action="/chats/new" method="get">
            <button>New Chat</button>
        </form>
        <script src="showdeletealert.js"></script>
</body>

</html>